[Desktop Entry]
Name=Buffr
GenericName=Web Browser
Comment=Vim-inspired browser. Native, GPU-accelerated. Rust + CEF.
Exec=buffr %U
Icon=buffr
Type=Application
Terminal=false
StartupNotify=true
StartupWMClass=buffr
Categories=Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
